**/.metadata/**
**/.settings/**
**/[Dd]ebug/**
**/[Rr]elease/**
**/[Bb]ackup/**
**/Z-Private/**
**/A-PDF/**
**/CAD_CubeIDE/**
**/DAW-Controller-backups/**
**/Z_Legacy/**
**/Photoshop_Sessions/**
**/D-Graphics/**
A-Software/DAW-Controller_Workspace/Fader_ModuleMaster_CortexM4/Core/Src/Backup
**/Calculation/**
**/Symbols_Footprints/**
**/Libraries/**
